body {
    background: rgb(169, 225, 249);

    height: 100vh;
    width: 100vw;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    margin: 0;
}

.nav-cont {

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 120px;
    background: rgb(240, 247, 251);

}

.home {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

nav .home:hover {
    cursor: pointer;
}

a {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    color: rgb(128, 128, 16);
}


/* .banner { 
    position: relative; 
    overflow: auto; 
}

.banner li { 
    list-style: none; }

.banner ul li { 
    float: left; 
} */

/* .carousel-inner {
    
    position: relative;
    display: inline-block;
    text-align: center;
    justify-content: center;
  

    width: 100%;
    height: 250px;


} */
.img-uno {


    position: relative;
    /* display: inline-block; */
    text-align: center;
    padding: 15px 0;

    width: 100%;
    height: 250px;

    background-position: center;
    /* background-size: cover; */

}

.img-uno {
    background-image: url(https://images.pexels.com/photos/255339/pexels-photo-255339.jpeg?auto=compress&cs=tinysrgb&w=1600);
}

.cont-uno {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    height: 120px;
    width: 250px;
    /* margin: 20px; */
    /* background-color:  beige;
    opacity: 0.5; */
    border-radius: 5px;

    font-size: 25px;
    color: rgb(128, 128, 16);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

button {

    text-align: center;
    height: 30px;
    width: 70px;

    border-radius: 5px;
    border: 1.5px solid rgb(122, 143, 139);
    margin: 20px;
    background-color: transparent;


    font-size: 18px;
    color:  rgb(128, 128, 16);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

button:hover {
    background: #f4f1f1ad;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .6);
}

.cont-dos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 10px;
    margin: 10px;

}

.box {
    /* background-image: url(https://images.pexels.com/photos/3373728/pexels-photo-3373728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */

    width: 400px;
    height: 350px;
    background: #bd84e180;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 15px;
    margin: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    font-size: 18px;
    color: rgb(128, 128, 16);
}

.box-btn {

    width: 400px;
    height: 350px;
    background: #bd84e180;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 15px;
    margin: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    color:  rgb(128, 128, 16);;


}


.box-form {
    display: none;

    font-size: 18px;
    color:  rgb(240, 240, 235);
}


form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;


    width: 400px;
    height: 350px;
    background: #53117c80;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 15px;


    font-size: 18px;
}


.box-form input {

    border: none;
    padding: 10px 10px;
    font-size: 16px;
    color: #fafff9;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #bdf7f7;
    background: transparent;

}

.box-form .button:hover {

    background: #bdcceead;
    border-radius: 5px;
}

.img-dos {

    position: relative;
    /* display: inline-block; */
    text-align: center;


}

.cont-tres {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 20px;
    color: #808010;;
    text-align: center;

}

.cont-img {

    width: 800px;
    height: 600px;
}


.cont-cuatro {



    display: flex;
    justify-content: center;
    width: 900px;
    /* height: 700px; */

    padding: 20px;
    margin: 20px;


}

.galeria {
    position: relative;
    /* display: inline-block; */
    text-align: center;
    padding: 15px;

}

.texto {
  
   text-align: center;
   color:  #eeee92;

}
/* 
.img-tres div {
    margin: 15px;
} */

.item-1 {
    position: relative;
    justify-content: center;

    text-align: center;
    width: 70%;
    padding: 40px;

}

.texto-uno {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eeee92;
    font-size: 30px;
}

img {
    width: 100%;


}

.item-2 {
    width: 42.8%;
}


.cont-cinco {

    display: flex;
    align-items: center;
    justify-content: space-around;


    width: 100%;
    height: 200px;
    font-size: 20px;
    text-align: center;


    background: #7f7f10;
    color: #2a3124;
}

footer {

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 120px;
    background: rgb(240, 247, 251);

}

.footer {

    display: flex;
    align-items: center;
    justify-content: center;

}





section {
    width: 100%;
    display: flex;
    justify-content: center;
}