body {
    background-color: #2f234B;
}

 nav {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #39274b;
    padding: 0 10px 0 14px ;
   
}
 a {
    color: rgb(18, 37, 55);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

} 

img {
    width: auto;
    height: 300px;
}

